.container{
    display: flex;
    gap: 100px;
}

.textContainer{
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.title{
    font-size: 50px;
     
}

.desc{
    font-size: 18px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    padding: 10px;
    min-width: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:first-child{
    background-color: var(--btn);
    color: var(--text);
}

.brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
}

.imgContainer{
    flex: 0.8;
    position: relative;
}

.img{
    object-fit: contain;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .buttons{
    justify-content: center;
  }
}
@media (max-width: 768px) {
    .brands{
        width: 100%;
    }
}