.container{
    /* background-color: rgb(26, 26, 94); */
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-size: 20px;
    font-weight: bold;
}